*.egg-info
*.pyc
.DS_Store
.bake/
.bash_history
.cache/
.devcontainer
.direnv/
.docker_history/
.envrc
.idea/
.project
.pvenv/
.sccache/
.vscode*
CMakeUserPresets.json
Testing/
__pycache__/
build/
cmake-build*
code_coverage/
compile_commands.json
doc/api/DoxygenWarningLog.txt
doc/api/doc-coverage.info
doc/api/doxygenOut
tools/puncover_tool/output/
venv
