name: Generate Puncover Report

on: [workflow_call, push, pull_request]

jobs:
  elf_tool:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build development Image
        id: build-docker-development
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:docker/development"
          push: false
          tags: openbsw-development:local
          outputs: type=docker
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Cache CMake files
        id: cache-cmake
        uses: actions/cache@v4
        with:
            path: build/s32k148-gcc
            key: ${{ runner.os }}-${{ steps.build-docker-development.outputs.digest }}-cmake-s32k148-freertos-gcc-RelWithDebInfo-arm-gcc-14-${{ hashFiles('**/*.cpp', '**/*.h',  '**/*.cmake', '**/*.txt', '**/*.c', '**/*.s', '**/*.S') }}

      - name: Run the build.py inside the docker container
        if: steps.cache-cmake.outputs.cache-hit != 'true'
        run: >-
          DOCKER_UID=$(id -u) DOCKER_GID=$(id -g) DOCKER_HISTORY=/dev/null docker compose run --rm development
          python3 .ci/build.py --preset s32k148-freertos-gcc --platform arm --cxxid gcc --cxxstd 14 --config RelWithDebInfo

      - name: Generate report inside the docker container
        run: >-
          DOCKER_UID=$(id -u) DOCKER_GID=$(id -g) DOCKER_HISTORY=/dev/null docker compose run --rm --workdir ${PWD}/tools/puncover_tool development
          bash -c "
          pip3 install poetry &&
          python3 -m poetry install &&
          python3 -m poetry run puncover_tool
          "

      - name: Zip output as artifact
        working-directory: tools/puncover_tool
        run: |
            zip -r puncover-report.zip output

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: puncover-report
          path: tools/puncover_tool/puncover-report.zip
